$cell-size: 50px;

.app {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .gameGrid {
    background-color: yellow;
    margin-top: 25px;
  }

  .controls {
    margin-top: 25px;
  }

  .gridCell {
    height: $cell-size;
    width: $cell-size;
    margin: 5px;
    border: 2px solid #ccc;
  }

  .cellContent {
    width: 100%;
    height: 100%;

    &.snake {
      background-color: green;
    }

    &.apple {
      background-image: url('images/apple.png');
      background-repeat: no-repeat;
      background-size: $cell-size $cell-size;
    }
  }

  button {
    cursor: pointer;

    &:disabled {
      cursor: default;
      color: #ccc;
    }
  }

}

